body {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
main {
	display: grid;
	grid-template-columns: 10vh 10vh 10vh;
	grid-template-rows: 10vh 10vh 10vh;
}
main button {
	border: 1px solid black;
}
.red {
	background-color: red;
}
.green {
	background-color: green;
}
